//Variables
$font-stack: 'Nunito Sans', sans-serif;
$primary-color: #1D3557;
$secondary-color: #457B9D;
$add-btn-color: #F1FAEE;
$delete-btn-color: #E63946;
$light-font: 300;
$bold-font: 700;
$line-height-primary: 1.5;
$line-height-secondary: 1.8;
$primary-heading: 52px;
$secondary-heading: 42px;
$alternate-heading: 32px;
$standard-font: 20px;
$small-font: 16px;
$dp-fx: flex;
$jc-c: center;
$js-sb: space-between;
$m-auto: auto;
$underline: underline;
$small: 320px;
$medium: 480px;
$standard: 760px;
$large: 1024px;